<div id="<%= dom_id @category %>">
  
  
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

   <p>
    <strong>Detail:</strong>
    <%= product.detail %>
  </p>

   <p>
    <strong>Active:</strong>
    <%= product.active %>
  </p>
